*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} 

#id1 {
    margin: 20px;
}
/* Navbar */
.navbar {
    height: 70px;              
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #1e293b;
}

/* Logo */
.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #cbd5e1;
    text-decoration: none;
    font-size: 16px;
}

/* Active Link State */
.nav-links a.active {
    color: #38bdf8;
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 4px;
}

.primary-btn {
  padding: 12px 24px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.primary-btn:hover {
  background-color: #1e40af;
}

.primary-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
