* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
#id1 {
    margin: 20px;
}

/* NAVBAR */
.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #1e293b;
  position: relative;
}

/* LOGO */
.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 4px;
}

/* BUTTON */
.primary-btn {
  padding: 10px 18px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .desktop-btn {
    display: none;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #1e293b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }
}
